debody{
    background-color: silver;
}
#container{
    width: auto;
    background-color: white;
    margin: 0 auto;
    box-shadow: 0 0 10 px gray;
    padding: 12px;

}
header{
    background-color: slategray;
    text-align:center;
    color: white;
    font-size: 200%;
    padding: 25px;
    text-shadow: 0 0 3px black;
}

main{
    display: flex ;
    flex-direction: row;
}

aside{
    padding: 12px;
    background-color: #efefef;
    width: 55%;
}

section{
    padding: 12px;
    background-color: lightcyan;
    width: 45%;
}

footer{
    background-color:  black;
    color: white;
    padding: 6px;
    text-align: center;
    font-size: 80%;
    letter-spacing: 3px;
}
#miert{
display: flex ;
    flex-direction: row;
color: black;
font-size: 90%;
    padding: 0px;
text-align: center;
}
#elerhetosegek{
width: auto;
padding: 25px;
background-color: lightblue;
}
#vallalunk{
background-color: #C2F5FB;
}
#kerdes{
background-color: white
}